@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 72.22% 50.59%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --radius: 0.3rem;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

@layer base {
 * {
  @apply border-border;
 }
 body {
  @apply bg-background text-foreground;
  font-feature-settings:
   "rlig" 1,
   "calt" 1;
 }
}

.shifting::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  z-index: -100;
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
  background-image:
    linear-gradient(rgba(245, 245, 245, 0.5), rgba(104, 104, 104, 0.5)),
    radial-gradient(circle farthest-corner at 25% 25%, #d7a09d, transparent 50%),
    radial-gradient(circle at 75% 75%, #b0c6d0, transparent 50%), 
    radial-gradient(circle at 50% 50%, #8ca3a0, transparent 50%), 
    radial-gradient(circle at 25% 75%, #c3d1cf, transparent 50%),
    radial-gradient(circle at 75% 25%, #f8d6d3, transparent 50%),
    radial-gradient(circle at 50% 100%, #e0e0e0, transparent 50%);
  animation: bg-change 10s infinite;
  filter: blur(100px);
}

.dark .shifting::before {
  background-color: #1a1a1b;
  background-image:
    linear-gradient(rgba(28, 28, 28, 0.5), rgba(0, 0, 0, 0.5)),
    radial-gradient(circle farthest-corner at 25% 25%, #8a4843, transparent 50%),
    radial-gradient(circle at 75% 75%, #5b7d8a, transparent 50%), 
    radial-gradient(circle at 50% 50%, #2c5f5a, transparent 50%), 
    radial-gradient(circle at 25% 75%, #627978, transparent 50%),
    radial-gradient(circle at 75% 25%, #E5A39E, transparent 50%),
    radial-gradient(circle at 50% 100%, #484854ff, transparent 50%);
}

@keyframes bg-change {
  0%, 100% {
    filter: hue-rotate(0deg);
  }
  50% {
    filter: hue-rotate(-30deg);
  }
}
